*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

/*LANDING PAGE*/
#landing{
	background: url('landing.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 150vh;

}
.landingheading{
	font-family: 'Great Vibes', cursive;
	margin-top: 15%;
	font-size: 5rem;
	text-shadow: 2px 1px 5px grey;
}
.landingquote{
	font-style: italic;
	margin-bottom: 7px;
}

#landingabout{
	background: url('about.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	margin: 0;
}
.aboutheading{
	text-align: center;
	font-family: 'Great Vibes', cursive;
	font-size: 4rem;
	margin: 0;
	text-shadow: 2px 1px 5px grey;
}
.aboutgreeting{
	text-align: center;
	margin-left: 50px;
	margin-top: 40%;
}
.aboutpara{
	text-align: center;
	margin-left: 50px;
	margin-top: 20px;
	font-style: italic;
	font-size: 1.10rem;
}


#storyone{
	background: url('story1.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	margin: 0;
}
.storyonepara{
	font-style: italic;
	margin-top: 80%;
	font-size: 1.10rem;
}

#storytwo{
	background: url('story2.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	margin: 0;
}
#storythree{
	background: url('story3.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	margin: 0;
}